html, body {
  height: 50%; }

@font-face {
  font-family: Monospace Typewriter;
  src: url("/fonts/MonospaceTypewriter.ttf"); }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: 100;
  font-family: "Monospace Typewriter"; }

.container {
  text-align: left;
  display: block;
  vertical-align: middle;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px; }

.button {
  border-radius: 3px;
  float: right;
  margin-right: 13px;
  padding-left: 30px;
  padding-right: 30px; }

.content {
  text-align: center;
  display: inline-block; }

.title {
  font-size: 96px; }

.tetx-normal {
  font-weight: 500; }

.top_menu {
  background-image: url("/images/header-bg-my.png");
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 9; }
  .top_menu .menu {
    max-width: 1000px;
    margin: auto; }
    .top_menu .menu li {
      font-size: 20px;
      text-align: center; }
      .top_menu .menu li a {
        color: white;
        margin-top: -20px; }
      .top_menu .menu li a:hover {
        text-shadow: 0px 0px 10px white; }
    .top_menu .menu .menu_star a {
      padding: 0px; }
    .top_menu .menu .menu_star img {
      display: block;
      margin-left: 20px;
      margin-top: 20px;
      position: absolute;
      top: 10px;
      z-index: 4; }
    .top_menu .menu .menu_star #burst-12 {
      margin: auto;
      margin-top: -10px;
      background: #E2CE00;
      width: 90px;
      height: 90px;
      position: relative;
      text-align: center; }
    .top_menu .menu .menu_star #burst-12:before, .top_menu .menu .menu_star #burst-12:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 90px;
      width: 90px;
      background: #E2CE00; }
    .top_menu .menu .menu_star #burst-12:before {
      -webkit-transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -o-transform: rotate(30deg); }
    .top_menu .menu .menu_star #burst-12:after {
      -webkit-transform: rotate(60deg);
      -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
      -o-transform: rotate(60deg); }
    .top_menu .menu .menu_star:hover #burst-12 {
      -webkit-transform: rotate(15deg);
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -o-transform: rotate(15deg); }
    .top_menu .menu .menu_star:hover p {
      text-shadow: 0px 0px 10px white; }
    .top_menu .menu .menu_star:hover img {
      margin-left: 23px;
      margin-top: 20px;
      -webkit-transform: rotate(-15deg);
      -moz-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
      -o-transform: rotate(-15deg); }

.footer {
  background-image: url("/images/header-bg-my.png");
  /*background-color: $navy_blue;*/
  height: 56px;
  width: 100%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg); }
  .footer .row {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg); }
  .footer a, .footer p {
    color: white;
    margin-bottom: 12px; }
  .footer a:hover {
    text-shadow: 0px 0px 10px white; }

.matrix {
  margin-top: 50px;
  background: url("/images/smoke-or.jpg") #000;
  background-size: 100% 100%;
  background-repeat: no-repeat; }
  .matrix #cool_jesus {
    display: block;
    width: 300px;
    margin: auto;
    margin-top: 50px; }

.navy_blue {
  /*background:url('/images/pattern_triangle_small.png');*/
  background-color: #121E31;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px; }
  .navy_blue span {
    color: #F8BB00; }
  .navy_blue span.blue {
    color: #428BDD; }
  .navy_blue span.yellow {
    color: #E2CE00; }
  .navy_blue .tab {
    padding-left: 15px; }
  .navy_blue .double_tab {
    padding-left: 30px; }

.bxslider {
  margin-left: 0px; }

.bx-wrapper {
  margin: 0 auto 0px; }
  .bx-wrapper img {
    width: 100%;
    max-height: 599px; }
  .bx-wrapper .bx-viewport {
    border: none;
    left: 0px; }

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: 5px; }

.row_circle {
  position: absolute;
  display: block;
  width: 100%;
  z-index: 5; }
  .row_circle .circle {
    margin: auto;
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    display: block;
    width: 80%;
    height: 0;
    padding: 40% 0;
    border-radius: 50%; }
    .row_circle .circle h2 {
      text-align: center;
      margin-top: -40px; }
  .row_circle .circle:hover {
    background-color: rgba(255, 255, 255, 0.9); }

.contact_form input, .contact_form textarea, .contact_form .button {
  border-radius: 3px; }

.row_circle_bottom {
  display: inline-block;
  width: 100%; }
  .row_circle_bottom .circle {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 2%;
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    display: block;
    width: 80%;
    height: 0;
    padding: 40% 0;
    border-radius: 50%; }
    .row_circle_bottom .circle h2 {
      text-align: center;
      margin-top: -40px; }
  .row_circle_bottom .circle:hover {
    width: 85%;
    padding: 42% 0;
    margin-top: 8%;
    margin-bottom: 0%;
    background-color: rgba(255, 255, 255, 0.9); }

.resume {
  border: 1px Solid black;
  margin-top: 40px;
  padding: 3px;
  margin-bottom: 30px;
  font-weight: 700; }
  .resume h1 {
    font-size: 30px; }
  .resume .border1 {
    border: 3px Solid black;
    padding: 3px; }
  .resume .border2 {
    border: 1px Solid black;
    padding: 3px; }
  .resume .border_bottom {
    border-bottom: 1px Solid black; }
  .resume a {
    color: black; }
  .resume ul li {
    margin-left: 36px;
    font-weight: 500; }
  .resume .ul_after {
    content: "\2756";
    margin-right: 6px; }
  .resume .text-right {
    padding-right: 25px; }
    .resume .text-right a {
      padding-right: 0px; }
  .resume p.text-right {
    padding-right: 0px; }

@media print {
  a[href]:after {
    content: none !important; }
  .top_menu {
    display: none; }
  .resume {
    margin-top: 0px; } }

/*# sourceMappingURL=app.css.map */
