// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$navy_blue:#121E31;
$blue:#428BDD;
$yellow:#E2CE00;
$orange:#F8BB00;

$tab:15px;

html, body {
    height: 50%;
}
@font-face {
    font-family: Monospace Typewriter;
    src: url('/fonts/MonospaceTypewriter.ttf');
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: "Monospace Typewriter";

}

.container {
    text-align: left;
    display: block;
    vertical-align: middle;
    max-width:1000px;
    margin:auto;
    margin-top:50px;
}
.button{
    border-radius: 3px;
    float:right;
    margin-right: 13px;
    padding-left: 30px;
    padding-right: 30px; 
}
.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 96px;
} 

.tetx-normal{
    font-weight: 500;
}

.top_menu{
    background-image: url("/images/header-bg-my.png");
    height: 56px;
    width:100%;
    position: fixed;
    top:0px;
    z-index:9;
    .menu{
        max-width:1000px;
        margin:auto;
        li{
            font-size:20px;
            text-align:center;
            a{
                color:white;
                margin-top: -20px;
            }
            a:hover{
                text-shadow: 0px 0px 10px white;
            }


        }
        .menu_star{
            a{
                padding:0px;
            }
            img{
                display:block;
                margin-left: 20px;
                margin-top: 20px;
                position:absolute;
                top:10px;
                z-index:4;
            }
            #burst-12 {
                margin:auto;
                margin-top:-10px;
                background: $yellow;
                width: 90px;
                height: 90px;
                position: relative;
                text-align: center;
            }
            #burst-12:before, #burst-12:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 90px;
                width: 90px;
                background: $yellow;
            }
            #burst-12:before {
                -webkit-transform: rotate(30deg);
                -moz-transform: rotate(30deg);
                -ms-transform: rotate(30deg);
                -o-transform: rotate(30deg);
            }
            #burst-12:after {
                -webkit-transform: rotate(60deg);
                -moz-transform: rotate(60deg);
                -ms-transform: rotate(60deg);
                -o-transform: rotate(60deg);
            }
        }

        .menu_star:hover{
            #burst-12{
                -webkit-transform: rotate(15deg);
                -moz-transform: rotate(15deg);
                -ms-transform: rotate(15deg);
                -o-transform: rotate(15deg); 
            }
            p{
                text-shadow: 0px 0px 10px white;
            }
            img{
                margin-left:23px;
                margin-top:20px;
                -webkit-transform: rotate(-15deg);
                -moz-transform: rotate(-15deg);
                -ms-transform: rotate(-15deg);
                -o-transform: rotate(-15deg); 
            }
        }
    }
}
.footer{
    background-image: url("/images/header-bg-my.png");
    /*background-color: $navy_blue;*/
    height: 56px;
    width:100%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg); 
    .row{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg); 
    }
    a, p{
        color:white;
        margin-bottom:12px;
    }
    a:hover{
        text-shadow: 0px 0px 10px white;
    }
}
.matrix{
    margin-top:50px;
    background:url('/images/smoke-or.jpg') #000;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    #cool_jesus{
        display:block;
        width:300px;
        margin:auto;
        margin-top:50px;
    }
}

.navy_blue{
    /*background:url('/images/pattern_triangle_small.png');*/ 
    background-color: $navy_blue;
    color:white;
    padding-top:20px;
    padding-bottom:20px;
    span{
        color:$orange;
    }
    span.blue{
        color:$blue;
    }
    span.yellow{
        color:$yellow;
    }
    .tab{
        padding-left:$tab;
    }
    .double_tab{
        padding-left:$tab*2;
    }
}
.bxslider{
    margin-left:0px;
}
.bx-wrapper{ 
    margin: 0 auto 0px;
    img{
        width:100%;
        max-height:599px;
    }
    .bx-viewport {
        border:none;
        left: 0px;
    }
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    bottom:5px;
}
.row_circle{
    position:absolute;
    display:block;
    width:100%;
    z-index:5;
    .circle{
        margin:auto;
        margin-top:10%;
        background-color: rgba(255, 255, 255, 0.8);
        position: relative;
        display: block;
        width: 80%;
        height: 0;
        padding: 40% 0;
        border-radius: 50%;
        h2{
            text-align: center;
            margin-top: -40px;
        }
    }
    .circle:hover{
        background-color: rgba(255, 255, 255, 0.9);
    }
}

.contact_form{
    input, textarea, .button{
        border-radius: 3px;
    }

}
.row_circle_bottom{
    display:inline-block;
    width:100%;
    .circle{
        margin:auto;
        margin-top:10%;
        margin-bottom:2%;
        background-color: rgba(255, 255, 255, 0.9);
        position: relative;
        display: block;
        width: 80%;
        height: 0;
        padding: 40% 0;
        border-radius: 50%;
        h2{
            text-align: center;
            margin-top: -40px;
        }
    }
    .circle:hover{
        width: 85%;
        padding: 42% 0;
        margin-top: 8%;
        margin-bottom:0%;
        background-color: rgba(255, 255, 255, 0.9);
    }
}

.resume{
    border:1px Solid black;
    margin-top:40px;
    padding:3px;
    margin-bottom:30px;
    font-weight: 700;
    h1{
        font-size: 30px; 
    }
    .border1{
        border:3px Solid black;
        padding:3px;
    }
    .border2{
        border:1px Solid black;
        padding:3px;
    }
    .border_bottom{
        border-bottom: 1px Solid black;
    }
    a{
        color:black;
    }
    ul{
        li{
            margin-left:36px;
            font-weight: 500;
        }
    }
    .ul_after{
        content: "\2756";
        margin-right: 6px;
    }
    .text-right{
        padding-right:25px;
        a{
            padding-right:0px; 
        }
    }
    p.text-right{
        padding-right:0px;
    }

}


@media print {
  a[href]:after {
    content: none !important;
  }
  .top_menu{
      display:none;
  }
  .resume{
      margin-top: 0px;
  }
}